.chat> ::-webkit-scrollbar {
  width: 13px;
}

.chat> ::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 15px;
}

.chat> ::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
}

body {
  background-color: #e6e6e6;
  font-family: sans-serif;
}

.chat {
  margin: auto auto;
  max-width: 650px;
  border-radius: 5px;
  background-color: #ffffff;
}

.chat-header {
  padding: 20px 0px 20px 15px;
  color: #292929;
  font-size: 20px;
  border-radius: 5px 5px 0px 0px;
  background-color: #00ce7f;
}

.chat-header h3 {
  margin: 0px;
}

.chat-body {
  border-radius: 5px;
  margin: 10px 10px;
  height: 400px;
  padding: 15px 10px 15px 5px;
  overflow-y: scroll;
}

.chat-body-msg {
  padding: 8px 0px;
}

.chat-body-msg-right {
  text-align: right;
}

.chat-body-msg-label {
  margin-bottom: 3px;
  font-size: 13px;
  opacity: 0.8;
}

.chat-body-msg-box {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 7px 5px;
  font-size: 14px;
}

.chat-footer {
  display: flex;
  padding: 25px 10px 15px 10px;
  height: 25px;
}

.chat-footer-input {
  width: 80%;
  padding-right: 10px;
}

.chat-footer-button {
  width: 20%;
  padding-left: 5px;
}

.chat-footer-input input[type="text"] {
  width: 100%;
  height: 30px;
  outline: none;
  border: 1px solid #7c7c7c;
  border-radius: 5px;
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

.chat-footer-button input[type="submit"] {
  width: 100%;
  height: 32px;
  outline: none;
  border: 1px solid #00925a;
  background-color: #00925a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s;
}

.chat-footer-button input[type="submit"]:hover {
  opacity: 0.7;
}